{{
  legend/context-legend
    selectedParam=model.selectedParam
    sortedByParam=model.sortedByParam
    items=model.legendItems
    data=model.data
}}
{{
  chart/context-chart
    width=1200
    height=700
    selectedParam=model.selectedParam
    sortedByParam=model.sortedByParam
    data=model.data
}}
