html, body {
  font-family: Helvetica, Arial, 'sans-serif';
}

svg {
  display: block;
}

/**
*   UTILS
**/
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}
.cf:after {
    clear: both;
}


/**
*   CONTEXT CHART
**/

.row-item__dot circle {
  stroke: inherit;
  stroke-width: 2px;
  fill: #fff;
}
  .row-item__dot--selected circle {
    fill: inherit;
  }

.row-item__dot--var1 {
  stroke: #00924b;
  fill: #00924b;
}
.row-item__dot--var2 {
  stroke: #f7931e;
  fill: #f7931e;
}
.row-item__dot--var3 {
  stroke: #c7b299;
  fill: #c7b299;
}
.row-item__dot--var4 {
  stroke: #29abd7;
  fill: #29abd7;
}

.row-item__line {
  stroke: #b3bfc4;
  stroke-width: 2;
}

/**
*   CONTEXT LEGEND
**/

.context-legend {
  display: block;
}

.context-legend ul {
margin: 0;
padding: 0;
list-style-type: none;
}

.context-legend .context-legend-item {
float: left;
margin-right: 30px;
border-radius: 5px;
cursor: pointer;
}

.context-legend .context-legend-item div {
  padding: 0px 20px;
  background-color: #fff;
  border-radius: 5px;
}

.context-legend .context-legend-item div:before {
  content: "• ";
  vertical-align: middle;
  font-size: 32px;
}

.context-legend .context-legend-item:hover div,
.context-legend .context-legend-item--sorted-by div,
.context-legend .context-legend-item--selected div {
  background-color: inherit;
  color: #ffffff;
}

.context-legend-item--var1,
.context-legend-item--var2,
.context-legend-item--var3,
.context-legend-item--var4 {
  fill: #fff;
  stroke-width: 2;
}

.context-legend-item--var1 {
  color: #00924b;
  background-color: #00924b;
  stroke: #00924b;
}

.context-legend-item--var1.active {
  fill: #00924b;
}

.context-legend-item--var2 {
  color: #f7931e;
  background-color: #f7931e;
  stroke: #f7931e;
}

.context-legend-item--var2.active {
  fill: #f7931e;
}

.context-legend-item--var3 {
  color: #c7b299;
  background-color: #c7b299;
  stroke: #c7b299;
}
.context-legend-item--var3.active {
  fill: #c7b299;
}

.context-legend-item--var4 {
  color: #29abd7;
  background-color: #29abd7;
  stroke: #29abd7;
}
.context-legend-item--var4.active {
  fill: #29abd7;
}

.context-legend-item__line,
.context-legend-item__scatter {
  stroke-width: 2;
  stroke: #b3bfc4;
  fill: transparent;
}


