<ul class="cf">
{{#each items as |legendItem|}}
  {{legend/context-legend-item
      selectedParam = selectedParam
      sortedByParam = sortedByParam
      text = legendItem
      data = data
      on-click = (action "sortVarValue")
  }}
{{/each}}
</ul>
